/* main color #ff003a */
/* * * * global * * * */
@font-face {
  font-family: BebasNeue_Bold;
  src: url("./fonts/BebasNeue Bold.ttf");
}
@font-face {
  font-family: BebasNeue;
  src: url("./fonts/BebasNeue Regular.ttf");
}
@font-face {
  font-family: BebasNeue_Book;
  src: url("./fonts/BebasNeue Book.ttf");
}
@font-face {
  font-family: BebasNeue_Light;
  src: url("./fonts/BebasNeue Light.ttf");
}
a:hover {
  text-decoration: none;
}
/* * * * navbar * * * */
.music-navbar .logo {
  width: 100px;
}
.music-navbar .profile {
  font-family: BebasNeue;
  font-size: 1.4rem;
  color: #000;
}

.music-navbar .profile img {
  width: 45px;
}
